<div class="container" ng-controller="ContactCtrl">
	<div class="row" style="padding-bottom: 15px">
	<div class="col-md-4">
		<h2><span class="glyphicon glyphicon-earphone"></span> Zadzwoń</h2>
		<p>
			Telefon:<br/>
			<b>509 891 976</b> Artur<br/>
			<b>509 891 967</b> Sylwia
		</p>
	</div>

	<div class="col-md-4">
		<h2><span class="glyphicon glyphicon-envelope"></span> Napisz</h2>
		<p>
			Email:<br/>
			<b>biuro@as-proj.pl</b>
		</p>
	</div>

	<div class="col-md-4">
		<h2><span class="glyphicon glyphicon-home"></span> Przyjedź</h2>
		<p>
				Nasz dokładny adres:<br/>
				<b>
					ul. Dr Huberta 75, Karolina<br/>
					05-300 Mińsk Mazowiecki
				</b>
				<br/>
				NIP: 822 204 18 54
			</p>
	</div>
</div>
<div id="big-map"></div>
</div>