<div class="container" ng-controller="EligibilitiesCtrl">
	<ul>
		<li>Uprawnienia budowlane do kierowania robotami budowlanymi bez ograniczeń w specjalności w konstrukcji budowlanej</li>
		<li>Uprawnienia budowlane do projektowania bez ograniczeń w specjalności konstrukcyjno - budowlanej</li>
		<li>Projektowanie konstrukcji budowlanych wg. Eurokodów</li>
	</ul>
	<div style="text-align: center">
		<!-- <img  data-ng-repeat="img in images" -->
		<!-- class="gallery-image" style="margin: 15px; width: 250px" src="{{img.small}}"> -->		
	</div>
</div>
