<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
	  <li data-ng-repeat="item in sliderItems" data-ng-click="slideTo($index)" data-ng-class="{active: $index == 0}"></li>
  </ol>

  <div class="carousel-inner">
	  <div data-ng-repeat="item in sliderItems" class="item" data-ng-class="{active: $index == 0}">
	    <img src="{{item.img}}" alt="{{item.caption}}"
  	    data-ng-mouseenter="isGray = true" 
  	    data-ng-mouseleave="isGray = false"
  	    data-ng-class="{gray: !isGray}">
	    <div class="carousel-caption">
	  	  {{item.caption}}
	    </div>
	  </div>
  </div>

  <a class="left carousel-control" data-ng-click="prevSliderItem()" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" data-ng-click="nextSliderItem()" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>