<div class="container" ng-controller="MainCtrl">
  <div>
    <p>
      <h4>Firma A&amp;S PROJEKT specjalizuje się w profesjonalnym projektowaniu:</h4>
      <ul>
        <li>konstrukcji budynków jedno i wielorodzinnych,</li>
        <li>handlowo - usługowych,</li>
        <li>gospodarczych,</li>
        <li>projektowaniu wnętrz głównie zabudowy kuchenne, szafy, garderoby</li>
      </ul>
    </p>

    <p>Oferujemy Państwu również <b>możliwość skorzystania z funkcji Kierownika Budowy</b>. Posiadamy niezbędne uprawnienia projektowe i wykonawcze.</p>

    <p><b>Gwarantujemy Państwu innowacyjne oraz optymalne rozwiązania</b> dopasowane do potrzeb zarówno klientów instytucjonalnych jak i prywatnych.</p>
  
    <p>Pracujemy przy zastosowaniu najnowocześniejszych programów komputerowych, m.in. <a href="http://www.autodesk.pl/products/simulation/features/robot-structural-analysis/all/list-view">Robot Professional</a>, <a href="http://www.cadprojekt.com.pl/strefa_informacyjna/cad-kuchnie-6x.html">Cad Kuchnie</a></p>

    <p><b>Misją Naszej firmy</b> jest dążenie do jak najlepszego zrozumienia potrzeb klientów dostarczając lepsze od konkurencji rozwiązania projektowe.</p>
  
    <p>Od początku do końca prac projektowych <b>dbamy o najwyższą jakość usług</b>. Każdy klient otrzymuje <b>gwarancję rzetelnie wykonanych prac projektowych</b>, fachową obsługę jak również dogodne terminy realizacji.</p>

    <p>W projektowaniu wnętrz kierujemy się ogólnymi zasadami ergonomii, staramy się by nasze projekty były <b>jak najbardziej funkcjonalne i dopasowane do indywidualnych potrzeb klienta</b>. Współpracujemy z dystrybutorem prestiżowej marki produkującej meble kuchenne do zabudowy.</p>
  </div>
</div>
