<div class="container" ng-controller="MainCtrl">
  <div class="jumbotron">
    <h1>Firma!</h1>

    <div style="text-align: left">

      <!-- phone -->
      <div class="well well-sm">
        <div class="row">
          <div class="col-md-1 col-md-offset-2">
            <span class="glyphicon glyphicon-earphone"></span>
          </div>
          <div class="col-md-7">
            <small>{{contact.phoneAreaCode}}</small> {{contact.phone}}
          </div>
        </div>
      </div>
      <!-- /phone -->

      <!-- address -->
      <div class="well well-sm">
        <div class="row">
          <div class="col-md-1 col-md-offset-2">
            <span class="glyphicon glyphicon-home"></span>
          </div>
          <div class="col-md-7">
            {{address.zipCode}} {{address.city}}<br/>
            {{address.street}} {{address.houseNo}}
          </div>
        </div>
      </div>
      <!-- /address -->

      <!-- email -->
      <div class="well well-sm">
        <div class="row">
          <div class="col-md-1 col-md-offset-2">
            <span class="glyphicon glyphicon-envelope"></span>
          </div>
          <div class="col-md-7">
            {{contact.email}}
          </div>
        </div>
      </div>
      <!-- /email -->
    </div>

    <p>
      <a type="button" class="btn btn-default btn-lg" href="#contact">Dowiedz się więcej</a>
    </p>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <img src="{{leftColumn.image.url}}" alt="{{leftColumn.image.alt}}" class="img-thumbnail">
      <p data-ng-bind-html="leftColumn.text"></p>
    </div>
    <div class="col-xs-6">
      <p data-ng-bind-html="rightColumn.text"></p>
      <img src="{{rightColumn.image.url}}" alt="{{rightColumn.image.alt}}" class="img-thumbnail">
    </div>
  </div>
</div>