<div class="container" ng-controller="MainCtrl">
  <div class="jumbotron">
    <h1>Firma!</h1>
    <p>
      <span class="glyphicon glyphicon-earphone"></span>
      <small>+48</small> 500 500 500
    </p>
    <p>
      <span class="glyphicon glyphicon-home"></span>
      Adres
    </p>
    <p>
      <span class="glyphicon glyphicon-envelope"></span>
      email
    </p>
    <p>
      <a class="btn btn-primary btn-lg" role="button" href="#contact">Dowiedz się więcej</a>
    </p>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <img src="http://placehold.it/350x300" alt="alt1" class="img-thumbnail">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas aliquam adipiscing. Donec id dignissim tellus, sit amet gravida libero. Nam vitae massa ut massa tristique pretium. Vestibulum rutrum ultricies tellus. Maecenas vestibulum aliquet laoreet. Vivamus consectetur mollis accumsan. Suspendisse vel libero eu nulla porttitor commodo non id dui. Vestibulum tempus odio sit amet fringilla gravida.
    </div>
    <div class="col-xs-6">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas aliquam adipiscing. Donec id dignissim tellus, sit amet gravida libero. Nam vitae massa ut massa tristique pretium. Vestibulum rutrum ultricies tellus. Maecenas vestibulum aliquet laoreet. Vivamus consectetur mollis accumsan. Suspendisse vel libero eu nulla porttitor commodo non id dui. Vestibulum tempus odio sit amet fringilla gravida.
      <img src="http://placehold.it/350x300" alt="alt2" class="img-thumbnail">
    </div>
  </div>
</div>