<div data-ng-controller="MenuCtrl">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container" style="max-width: 1100px;">
			<a href="#">
				<img class="pull-left" src="images/logo_mini.png" style="padding-right: 10px"/>
			</a>
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					A&amp;S PROJEKT
				</a>
			</div>
			<ul class="nav navbar-nav">
				<li data-ng-class="{active: activeTab() === 'offer'}">
					<a href="#offer">Oferta</a>
				</li>
				<!-- <li data-ng-class="{active: activeTab() === 'portfolio'}"> -->
					<!-- <a href="#portfolio">Przykładowe realizacje budowlane</a> -->
				<!-- </li> -->
				<!-- <li data-ng-class="{active: activeTab() === 'kitchens'}"> -->
					<!-- <a href="#kitchens">Przykładowe realizacje kuchenne</a> -->
				<!-- </li> -->
				<li data-ng-class="{active: activeTab() === 'eligibilities'}">
					<a href="#eligibilities">Uprawnienia i referencje</a>
				</li>
				<li data-ng-class="{active: activeTab() === 'contact'}">
					<a href="#contact">Kontakt</a>
				</li>
			</ul>
		</div>
	</div>
</div>