<div class="container" ng-controller="PortfolioCtrl">
  <div class="well well-sm">
    <p data-ng-bind-html="intro"></p>
  </div>

  <div data-ng-repeat="project in projects">
  	<div data-project="project"></div>
  </div>

  <div class="modal fade" id="single-project">
	<div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header" data-dismiss="modal">
	        <button type="button" class="close" aria-hidden="true">
	        	&times;
	        </button>
	        <h4 class="modal-title">{{mainProject.title}}</h4>
	      </div>
	      <div class="modal-body" data-ng-bind-html="mainProjectHtml">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">
	        	Close
	        </button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div>
</div>