 <div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				{{project.title}}
				<span class="badge" data-ng-show="{{project.isNew}}">
					New
				</span>
			</h4>
		</div>
		<div class="panel-body">
		<div class="row">
				<div data-project-image
					data-image="project.image"
					data-position="left"></div>

				<div class="col-md-6">
					<p data-ng-bind-html="project.shortDescription"></p>
					<a href="#portfolio/{{project.url}}" data-ng-click="showProject(project)">
						Zobacz więcej
					</a>
				</div>

				<div data-project-image
					data-image="project.image"
					data-position="right"></div>
			</div>
		</div>
	</div>